* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selector de tipo (etiqueda) que afectará a todo el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
}

/* Selector de tipo (etiqueda) que afectará a el header del documento */
header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Selector descendiente */
nav ul {
  list-style: none;
}

/* Selector de tipo para los elementos li dentro del nav ul */
nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Selector de CLASE selecciona cualquier elemento que tenga class="proyecto-card"*/
.proyecto-card {
  border: 1px solid #ddd;
  background: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contenedor-proyectos {
  display: flex;
}